@import "~@axioscode/axios-feta/src/feta";
@import "reset";

html,
body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chart-container {
  width: 100%;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;

  .chart {
    display: inline-block;
    width: 100%;

    .axis {
      text {
        font-family: $mono;
        fill: $color-gray-500;
        pointer-events: none;
      }

      .tick text {
        font-size: 11px;
      }

      line,
      path {
        stroke: $color-gray-200;
        stroke-width: 0.5;
        pointer-events: none;
      }

      .domain {
        display: none;
      }
    }
  }
}

.headline {
  font-family: $sans;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  color: $color-text;
  margin-bottom: 10px;

  @media (max-width: 500px) {
    // Same styles as .headline--small
    font-size: 20px;
    line-height: 26px;
  }
}

.headline--small {
  font-family: $sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: $color-text;
  margin-bottom: 10px;
}

.headline-units {
  font-family: $sans;
  font-size: 12px;
  line-height: 18px;
  color: $color-text-light;
  margin-bottom: 10px;
}

.subhead {
  font-family: $sans;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: $color-text;
  margin-bottom: 8px;
}

.axis-label {
  font-family: $mono;
  font-size: 14px;
  line-height: 20px;
  color: $color-text;
}

.annotation {
  font-family: $sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-text;
}

.annotation--bold {
  font-family: $sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: $color-text;
}

.annotation--number {
  font-family: $mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.annotation--number-large {
  font-family: $mono;
  font-size: 20px;
  line-height: 28px;
  color: $color-text;
}

.tertiary-label {
  font-family: $sans;
  font-size: 14px;
  line-height: 20px;
  color: $color-text-light;
}
