@import 'feta';
@import 'reset';

$background-color: #D8D4CE;
$card-padding: 20px; // update in js if changes (it's itemMargin over there)
$card-width: 340px; // update in js if changes (it's cardWidth over there)
$peek-amount: 10px;
$diagonal-height: 30px;

//background 

body {
  //Headline text
  font-family: $sans;
  //Background Color
  background-color: $background-color;
  //Maybe text color - but  not set to anything 
  color: $color-body-text;
  //IDK? 
  height: 200%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  shape-rendering: crispEdges;
  // MARGIN ON WHOLE CARD? 
  margin: 0;
}



// CARD DECK FUNCTIONALITY
.card-deck { width: 100vw; }

.card-deck__container {
  margin: 0 auto;
  overflow-x: hidden;
  backface-visibility: hidden;
  transform: translate(0,0);
  transform-style: preserve-3d;
}

.card-deck__carousel {
  cursor: grab;
  position: relative;
  transform: translate(0,0);
  backface-visibility: hidden;
  transform-style: preserve-3d;

  .card-deck__item {
    float: left;
    margin: $card-padding;
    width: $card-width;
    max-width: $card-width;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translate(0,0);
  }

  &--animate {
    transition: transform .25s linear;
  }

  &--dragging { cursor: grabbing; }
}

// TEXT DATA POINT 


// THE CARD


//GENERAL CARD STYLES
.card {
  background-color: #fff;
  box-shadow: -4px 4px 18px -2px rgba(0, 0, 0, .4);
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.card__body {
  padding: 0 $card-padding 2rem;
}

.card-module-row {
  padding: 30px 0 0 0;
  display: flex;
  min-height: 50px;

  .card-module {
    flex-basis: 100%;
  }

  &.card-module-row--two-col {
    .card-module {
      &:first-of-type { margin-left: 0em; }
      &:last-of-type { margin-right: 0em; }
      margin: 0 $card-padding/2;
      flex-basis: 50%;
    }
  }

}

//HEADLINE TEXT 

.card__header {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
  letter-spacing: -.2px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  position: relative;
 
//HEADLINE A 
 
 &.accent-border:before{
  content: '';
  display: block;
  background: gray;
  width: 100%;
  height: 5px;
  position: absolute;
  top: -60px;
  left: 0px;
 }

//HEADLINE B

 // &:before{
 //  content: '';
 //  display: block;
 //  background: gray;
 //  width: 100%;
 //  height: 100px;
 //  position: absolute;
 //  z-index: -100;
 //  top: -60px;
 //  left: 0px;
 // }


//for HEADLINE C don't include anything 

//for Headline D see .card-module-image
  
  .card-module {

  //HEADLINE D IMAGE
    &.card-module--image {
      margin: 0 !important;
      img {
        max-width: 100%;
        width: 100%;
      }
  }

    //GRAPHIC DATA POINT IMAGE
    &.card-module--component-image {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: $color-gray-500;
      border: solid 1px;
      margin-bottom: .25rem;
      margin-top: 2px;
      img {
        filter: grayscale(100%);
        border-radius: 100%;
        width: 100%;
      }
    }

    // GRAPHIC DATA POINT TEXT
  &.card-module--component-number{
  color: inherit;
  font-size: 36px;
  // is this liberation mono? 
  font-family: monospace;
  }

  //BODY TEXT

    &.card-module--paragraph {
      p {
        font-family: $serif;
        margin-bottom: .375rem;
        line-height: 1.6;
        font-size: 15px;
      }
    }

  }


  h2 { 
    padding: 0 $card-padding;
  }
}

//SMALL HEADLINE TEXT

.card-module__header {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  font-weight: 400;
  margin-bottom: .75rem;

//RULES

  &.has--rule:before {
    width: 100%;
    background-color: $color-gray-200;
    height: 1px;
    display: block;
    position: relative;
    content: "";
    margin-bottom: .75em;
  }
}


//NO BOTTOM PADDING 
.card__body {
  padding-bottom: 0;
}

//FIX TYPE WIDOWS
.card-module--big p {
  width: 85%; // widows
}

// HIGHLIGHTED TEXT 
.card {
  overflow: hidden; // keep triangle okay if smaller than max card width

  .card-module-row--highlighted-text {
    //Might need to change this number depending on other card elements 
    margin-top: 60px;
    color: white;
    padding: 20px 20px 30px 20px;
    text-align: right;
    position: relative;
    font-weight: 400;
    //change color for each card
    background-color: gray;
    margin-left: -20px;
    margin-right: -20px;

    &:before {
      content: ' ';
      display: block;
      height: $diagonal-height;
      width: 0px;
      left: 0px;
      bottom: 100%;
      border-style: solid;
      border-width: 0 0 $diagonal-height $card-width;
      position: absolute;
      background-color: #fff;
    }
//change color for each card
  &.color-block:before{
      border-color:transparent transparent gray transparent;
    }

  }

}

// NAVIGATION AND PAGINATION
.card-deck__nav {
    margin-bottom: 1rem;

    font-family: $mono;
    color: $color-gray-800;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

  .arrow {
    flex-basis: 75px;
  }
}

.arrow {
  width: 60px;
  height: 36px;
  font-size: 2rem;
  transition: opacity .25s linear;

  span {
    width: 36px;
    text-align: center;
  }

  svg {
    height: 12px;
    top: -4px;
    position: relative;
    g {
      fill: $color-gray-600;
      transition: .25s fill linear;
    }
  }

  &:hover svg {
    g { fill: $color-gray-800; }
  }

  &.arrow--disabled {
    opacity: 0;
  }
  &:not(.arrow--disabled) { cursor: pointer; }
}


// TRANSITIONS
.card-deck__item--next,
.card-deck__item--prev {
  transition: transform .2s ease;
}

.card-deck__item--next:hover {
  transform: translateX(-$peek-amount);
}

.card-deck__item--prev:hover {
  transform: translateX($peek-amount);
}

@keyframes peek {
  0% { transform: translateX(0); }
  50% { transform: translateX(-$peek-amount); }
  100% { transform: translateX(0); }
}
@keyframes peek-reverse {
  0% { transform: translateX(0); }
  50% { transform: translateX($peek-amount); }
  100% { transform: translateX(0); }
}


.card-deck__item--peek {
  animation-name: peek;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
}

.card-deck__item--peek-reverse {
  animation-name: peek-reverse;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

@mixin card-last-row-color($color: $color-purple) {
    .card-module-row:last-of-type {
      background-color: $color;
      &:before {
        border-color: transparent transparent $color transparent;
      }
    }
}


