{{#extend "base"}}
{{#content "main"}}

<div class="card-deck" id="<%= meta.slug %>">
  <div class="card-deck__container">
    <div class="card-deck__carousel">

      {{#each copy.cards}}
        <div class="card-deck__item card">
          <% if (meta.headline === "Headline A (Accent Border)") { %>
          {{> headlineA headline="Headline A" }}
          <% } if (meta.headline === "Headline B (Accent Header)") { %>
          {{> headlineB headline="Headline B" }}
          <% } if (meta.headline === "Headline C (All Text)") { %>
          {{> headlineC headline="Headline C" }}
          <% } if (meta.headline === "Headline D (Header Image)") { %>
          {{> headlineD headline="Headline D" imageUrl="http://placekitten.com/700/394" }}
          <% } %>
          <div class="card__body"><% meta.components.forEach(function(component) { if (component === "One column text data point") { %>
            {{> txtPointOneCol subhead="TEXT DATA POINT" text="Lorem ipsum"}}
            <% } if (component === "Two column text data points") { %>
            {{> txtPointTwoCol subhead1="TEXT DATA POINT 1" text1="Lorem ipsum" subhead2="TEXT DATA POINT 2" text2="Dolor sit amet"}}
            <% } if (component === "One column graphic data point") { %>
            {{> graphicPointOneCol subhead="GRAPHIC DATA POINT" graphicUrl="http://placekitten.com/200/200" text="Lorem ipsum"}}
            <% } if (component === "Two column graphic data points") { %>
            {{> graphicPointTwoCol subhead="GRAPHIC DATA POINT 1" graphicUrl="http://placekitten.com/200/200" text1="Lorem ipsum" subhead2="GRAPHIC DATA POINT 2" graphicNumber="99%"}}
            <% } if (component === "Text block") { %>
            {{> txtBlock subhead="TEXT BLOCK" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}
            <% } if (component === "Highlighted text") { %>
            {{> highlightedTxt subhead="HIGHLIGHTED TEXT" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}
          <% }}) %>
          </div>
          <div class="card__footer">
            <p>AXIOS STUDIOS</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="card-deck__nav">
    <div class="arrow arrow__prev arrrow--disabled">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" width="36px" viewBox="0 0 36 36"><g><polygon points="0 18 36 0 36 36 0 18"/></g></svg>
      </span>
    </div>
    <div class="pagination">
      <span class="pagination__current"></span> / <span class="pagination__total"></span>
    </div>
    <div class="arrow arrow__next">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" width="36px" viewBox="0 0 36 36"><g><polygon points="36 18 0 36 0 0 36 18"/></g></svg>
      </span>
    </div>
  </div>
</div>


{{/content}}
{{/extend}}
