<div class="card-module-row card-module-row--no-margin card-module-row--highlighted-text">
  <div class="card-module card-module--paragraph card-module--medium">
    <h4 class="card-module__header">{{ subhead }}</h4>
    <div class="card-module__body">
      <p>{{ text }}</p>
    </div>
  </div>
</div>