<div class="card-module-row">
  <div class="card-module card-module--paragraph">
    <h4 class="card-module__header has--rule">{{ subhead }}</h4>
    <div class="card-module__body">
      <p>{{ text }}</p>
    </div>
  </div>
</div>
