<div class="card-module-row card-module-row--two-col">
  <div class="card-module card-module--paragraph">
    <h3 class="card-module__header has--rule">{{ subhead1 }}</h3>
    <div class="card-module__body">
      <p>{{ text1 }}</p>
    </div>
  </div>
  <div class="card-module card-module--paragraph">
    <h3 class="card-module__header has--rule">{{ subhead2 }}</h3>
    <div class="card-module__body">
      <p>{{ text2 }}</p>
    </div>
  </div>
</div>